.nav-tabs .nav-link{
    border: none !important;
}
ul.justify-content-center.mt-5.nav.nav-tabs li {
    flex: 1;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    background: #f5f5f5;
    border-radius: 0 !important;
}

ul.justify-content-center.mt-5.nav.nav-tabs  {
    
    background: #FFC107 !important;
    border-radius: 0 !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    cursor: pointer;
    border: none;
    border-radius: 0;
    padding: 1em;
    color: #495057 !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  
    background-color: #ff9800 !important;
    border: none;
    border-radius: 0;
    color: #fff !important;
    /* padding: 1em; */
}
.formSignUp label{color: #fff !important;}
.form-group{ margin: 1em 0;}

.errors {
    border: 1px solid red !important;
    box-shadow: 0px 1px 20px 0px #ff00006e;
}
.form-group p {
    color: red !important;
    font-size: 16   px;
    margin-top: 3px;
}